@charset "utf-8";
/* CSS Document */

/* 全局公共样式的设定 */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd{margin:0;padding:0;border:0;}
body{background:url(images/box_bg.jpg) no-repeat center top;color:#444;font:12px Arial,'宋体';}
li{list-style-type:none;}
h1,h2,h3,h4,h5,h6 {font-size:12px; font-weight:normal;}
input,button,textarea,select{font:100% Arial,'宋体';}
/* 默认全局样式超链接样式 */
a:link {color: #000; text-decoration:none;}/* 链接基本样式 */
a:hover {color: #009689; text-decoration:underline;}/* 链接移上时的样式 */
clear{clear:both;}

/* 其它常用样式的定义 */
.left{ float: left;}
.right{ float: right;}
.clear{ clear: both;}
.noBorder{border:none;	}

img,li{ vertical-align:top;}/* 解决图片和LI的高度空隙问题 */




.cententt{ width:980px; margin:0 auto; margin-top:15px;}
.left_n{ width:680px; float:left;}
.jdst{ height:445px; background:#000; padding:16px 10px 16px 10px;}
.tl{ width:468px; height:443px; border:1px solid #ccc; float:left;}
.tr{ width:180px; height:445px; float:right;}
.tr ul li{ width:178px; height:133px;border:1px solid #ccc; margin-bottom:20px;}
.video{ border:1px solid #e5e5e5; margin-top:15px; overflow:hidden;}
.video_bt{ height:39px; background:url(images/hh.gif) no-repeat;}
.video_l{ width:550px; height:39px; float:left; background:url(images/z1.gif) no-repeat left;}
.video_l h2{ text-indent:-10000px;}
.video_2{ width:550px; height:39px; float:left; background:url(images/z2.gif) no-repeat left;}
.video_2 h2{ text-indent:-10000px;}
.video_3{ width:550px; height:39px; float:left; background:url(images/z3.gif) no-repeat left;}
.video_3 h2{ text-indent:-10000px;}
.video_4{ width:550px; height:39px; float:left; background:url(images/z4.gif) no-repeat left;}
.video_4 h2{ text-indent:-10000px;}
.video_8{ width:550px; height:39px; float:left; background:url(images/img/zt.gif) no-repeat left;}
.video_8 h2{ text-indent:-10000px;}
.video_6{ width:550px; height:39px; float:left; background:url(images/news.gif) no-repeat left;}
.video_6 h2{ text-indent:-10000px;}
.video_r{ width:54px; height:39px; float:right; background:url(images/m1.gif) no-repeat;}
.video_r h3{ text-indent:-10000px;}
.right_n{ width:286px; float:right; overflow:hidden;}
.zhhuti_nn{ height:238px; background:url(images/nn_bg.gif) repeat-x; padding-top:12px;}
.video_k{ width:194px; height:218px; float:left; margin-left:14px; background:url(images/spk.gif) no-repeat top; padding:9px 3px 0 9px;}
.video_k3{ width:194px; height:218px; float:left; margin-left:14px; background:url(images/spk.gif) no-repeat top; padding:9px 3px 0 9px; margin-bottom:40px;}
.video_k13{ width:194px; height:218px; float:left; margin-left:16px; background:url(images/spk.gif) no-repeat top; padding:9px 3px 0 9px;margin-bottom:40px;}
.video_k1{ width:194px; height:218px; float:left; margin-left:16px; background:url(images/spk.gif) no-repeat top; padding:9px 3px 0 9px;}
.pic_t{ width:186px; height:131px;}
.sm_btn{ height:40px;}
.sp_z{ height:40px; width:134px; float:left; overflow:hidden;}
.sp_btn{ width:40px; height:40px; float:right; margin-top:7px; }
.sp_z{ margin-top:3px;}
.sp_z ul li{ line-height:22px; padding-left:60px; font-size:12px; color:#b9b9b8;}
.sp_wenz{ height:33px; margin-top:4px; font-size:12px; color:#777; line-height:17px; padding-right:9px; overflow:hidden;}
.wmzx{ height:133px; margin-top:15px;}
.video1{ height:379px; border:1px solid #e5e5e5; margin-top:15px;}
.nnews{ padding-top:15px; padding-left:10px;}
.tup_l{ width:222px; height:310px; float:left;}
	.pic{ height:223px; width:204px; background:#eeebe5; padding:9px;}
	.pic img{ border:1px solid #ccc;}
	.wzjs{ height:56px; padding: 0 5px 0 5px; margin-top:10px; line-height:20px; color:555; overflow:hidden;}
.wenz_r{ width:427px; height:310px; float:right;}
.wenz_r ul li.bbg{ height:26px; background:#f0f0f0; padding-left:10px; }
.wenz_r ul li{ height:26px; padding-left:10px; font-size:12px; color:#444; margin-bottom:10px;_margin-bottom:0px; line-height:26px;}
.wenz_r ul li a{font-size:12px; color:#444; display:block; float:left; width:310px;}
.wenz_r ul li span{ display:block; width:80px; float:right; text-align:left; color:#777}
.wenz_r ul li a:hover{ color:#009689; text-decoration:underline;}

.ceha{ width:286px; height:219px; background:url(images/ch_bg.jpg) no-repeat; padding-top:43px;}
.com1_right_pic{ width:227px; height:240px; margin:auto; position:relative;}
#slide {width:227px; height:240px; overflow:hidden; background:#fff; position:relative;}
#slide a {text-decoration:none; display:block; width:227px; height:240px; position:absolute; left:480px;}
#slide a img {display:block; border:0;}

#previous {cursor:pointer; width:24px; height:43px; position:absolute; top:88px;}
#next {cursor:pointer; width:24px; height:43px; position:absolute; top:88px; right:0;}

img#loading {position:absolute; left:240px; top:170px;}


.dhzx{ margin-top:15px; height:240px;}
.jcsp{ margin-top:15px; height:512px; background:url(images/jcsp.gif) no-repeat;}
.jcsp h2{ font-size:0px; color:#fff; text-indent:-100000px;}
.jc_nn{ width:227px; overflow:hidden; margin:0 auto; margin-top:37px;}
.one{ height:62px; background:url(images/one.gif) no-repeat 0 0;}
.two{ height:62px; background:url(images/one1.gif) no-repeat 0 0;}
.three{ height:62px; background:url(images/one2.gif) no-repeat 0 0;}
.line{ border-bottom:1px dashed #dddddd; margin-top:9px; margin-bottom:9px;}
.pic_tt{ width:110px; height:60px; border:1px solid #ccc; margin-left:20px; float:left;}
.o_wz{ width:83px;_width:120px; height:62px; float:right; color:#5d5d5d;}
.o_wz span{ font-size:12px; font-weight:bold; color:#2d2d2d; display:block; margin-bottom:3px;}
.linews ul li.o4{ height:20px; margin-bottom:13px; border-bottom:1px dashed #ddd; background:url(images/one4.gif) no-repeat; padding-left:20px;}
.linews ul li.o5{ height:20px; margin-bottom:13px; border-bottom:1px dashed #ddd; background:url(images/one5.gif) no-repeat; padding-left:20px;}
.linews ul li.o6{ height:20px; margin-bottom:13px; border-bottom:1px dashed #ddd; background:url(images/one6.gif) no-repeat; padding-left:20px;}
.linews ul li.o7{ height:20px; margin-bottom:13px; border-bottom:1px dashed #ddd; background:url(images/one7.gif) no-repeat; padding-left:20px;}
.linews ul li.o8{ height:20px; margin-bottom:13px; border-bottom:1px dashed #ddd; background:url(images/one8.gif) no-repeat; padding-left:20px;}
.linews ul li.o9{ height:20px; margin-bottom:13px; border-bottom:1px dashed #ddd; background:url(images/one9.gif) no-repeat; padding-left:20px;}
.linews ul li.o10{ height:20px; margin-bottom:13px; background:url(images/one10.gif) no-repeat; padding-left:20px;}
.linews ul li a{ color:#444444;}
.linews ul li a:hover{ color:#009689;}

.hdht{ height:364px; background:url(images/hdht.gif) no-repeat; padding-top:37px; margin-top:15px;}
.hdht h2{ font-size:0px; color:#fff; text-indent:-10000px;}
.kkhd{ height:62px; margin:0 auto; width:227px; margin-bottom:10px;}
.hd_pic{ width:60px; height:60px; border:1px solid #ccc; float:left;}
.hd_wz{ width:155px; height:62px; float:right; margin-left:10px; color:#5d5d5d;}
.hd_wz span{ color:2d2d2d; font-weight:bold; display:block; margin-bottom:3px;}
.wb{ margin-top:1px;}

.com9{ border:solid 1px #CCC; clear:both; margin:0 auto; width:980px; margin-top:10px; height:157px;}
.com9_title{ background:url(images/index_108.jpg) repeat-x; height:35px;}
.com9_title ul li{ line-height:35px; text-align:center; display:block; float:left; width:80px; border-right:solid 1px #ccc;}
.com9_list ul li{ float:left; text-align:center; line-height:27px; margin:8px 27px 0 27px; display:inline;}
.com9_list ul a{ width:100px; overflow:hidden; float:left; height:20px;}


.weiz{ height:28px; border:1px solid #d6d6d6; line-height:28px; padding-left:10px;}

.zhhuti_nn1{ padding-top:12px;}


.nnk{ width:680px; height:540px; margin-top:15px;}
.nnk1{ width:680px; height:540px; margin-top:25px;}
.nnk_l{ width:610px; height:531px; float:left;}
.nnk_r{ width:69px; float:right; height:531px;}
.nnk_bt{ height:38px; padding-left:10px; background:#2fa6a0; line-height:38px; font-size:18px; color:#fff; font-family:"Microsoft YaHei";}
.nnk_bt a{ font-size:17px; color:#fff}
.nnk_bt a:hover{ color:#FFF}
.nnk_bt span{ color:#000;}
.smzt{ padding-top:15px; padding-left:15px;}
.smzt ul li{ float:left; width:170px; height:11px; font-size:12px; color:#333; background:url(images/jt.gif) no-repeat left; padding-left:17px; line-height:15px;}
.ttp{ width:458px; height:300px; margin:20px auto 15px auto;}
.ttp a img{ 
border:0;  
margin:0;  
padding:0; 
max-width:480px; 
width: expression(this.width > 480 && this.width > this.height ? 480px : 'auto';);  
max-height:316px; 
height: expresion(this.height > 316 ? 316px : 'auto';); 
}

.wzpp{ width:510px; height:80px; padding-left:30px;}
.wzpp ul li{ line-height:22px; color:#777;}
.wzpp ul li span{ color:#333;}
.box_nn{ width:608px; height:492px; border:1px solid #ccc; border-top:none;}
.fx{ padding-top:20px; padding-left:20px; height:16px;}
.fx ul li{ float:left; margin-right:5px; line-height:16px;}
.nnk_r_top{ height:38px; background:#000; line-height:38px; text-align:center; color:#fff; font-size:12px;}
.gezw{ height:165px; background:url(images/gezw.gif) repeat; padding-top:328px;}
.lv{ height:42px; background:url(images/y.gif) no-repeat; line-height:42px; padding-left:15px; font-size:12px; color:#fff;}
.hv{ height:42px; background:url(images/hy.gif) no-repeat; line-height:42px; padding-left:15px; font-size:12px; color:#fff; margin-top:15px;}
.ziw{padding-left:18px; color:#444; margin-top:3px;}

.turn-page{height:30px; margin:0 auto; width:400px;}
.turn-page li{ list-style-type:none; float:left; padding-top:5px; margin-left:3px;}
.thisclass{ display:block; height:18px;line-height:18px; margin-right:4px; padding:0 4px; float:left}
.turn-page a{display:block; height:18px; border:1px solid #ccc; line-height:18px; margin-right:4px; padding:0 4px;}
.turn-page a:hover{ background:#666; color:#fff; text-decoration:none;}
.turn-page a.current{ background:#666; color:#fff; text-decoration:none;}
.fy{ width:678px; height:35px; border:1px solid #e0e0e0;margin-top:20px; padding-top:13px;}